@font-face {
  font-family: 'LemonLove';
  src: url('./assets/fonts/LemonLove.ttf') format('truetype');
}

@font-face {
  font-family: 'GrapeDays';
  src: url('./assets/fonts/GrapeDays.ttf') format('truetype');
}

body {
  background-color: rgb(255, 255, 255) !important;
}

/* .App {
  text-align: center;
} */


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* Nav Menu */

#logo {
  font-family: 'LemonLove';
  font-size: 60px;
  margin-left: 50px;
  color: #ffc0cb;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 2px 2px 0 #000;
  margin-right: 50px !important;
}

#logo:hover {
  color: white !important;
  font-size: 62px;
}

.nav-bar {
  min-width: 100% !important;
  padding-top: 100px;
  position: fixed;
  z-index: 9999;
}

.nav-link {
  font-family: 'GrapeDays';
  font-size: 30px !important;
  margin-left: 50px;
  color: #ffc0cb !important;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 2px 2px 0 #000;
}

.nav-link:hover {
  font-size: 31px !important;
  color: white !important;
}

.nav-link-list {
  padding-top: 15px;
  align-items: center !important;
}

.navbar-toggler {
  color: #ffc0cb !important;
  /* background-color: pink !important; */
  margin-right: 40px !important;
}

nav.navbar .navbar-toggler-icon:after,
nav.navbar .navbar-toggler-icon:before {
  background-color: pink;
}


.scrolled {
  min-width: 100% !important;
  position: fixed !important;
  padding-top: 100px;
  background-color: white;
  transition: background-color 250ms linear !important;
  z-index: 9999;

}


.nav-total-toggle span:nth-child(1) {
  font-size: 4rem;
  color: white;
}

.nav-total-toggle:nth-child(2) {
  background-color: red;
  position: absolute !important;
  color: white;
  font-family: 'LemonLove';
  font-weight: bold;
  border-radius: 50%;
  position: relative;
  display: inline-block;
  width: 23px;
  height: 23px;
  text-align: center;
  top: 85%;
  left: 21%;

}

.nav-total span:nth-child(1) {
  font-size: 4rem;
  color: white;
}

.nav-total:nth-child(2) {
  background-color: red;
  color: white;
  font-family: 'LemonLove';
  font-weight: bold;
  border-radius: 50%;
  position: relative;
  display: inline-block;
  width: 23px;
  height: 23px;
  text-align: center;
  top: -32%;
  left: 86%
}



/* Banner ------------------------------------------------------------------------------------------- */

.banner {
  padding-top: 200px;
  height: 80vh;
  background-image: url('https://images.unsplash.com/photo-1516528387618-afa90b13e000?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2670&q=80');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 483px;
}


.banner-heading {
  font-family: 'LemonLove';
  font-size: 100px;
  margin-left: 50px;
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 2px 2px 0 #000;
}

.banner h2 {
  font-family: 'GrapeDays';
  margin-left: 100px;
  color: pink;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 2px 2px 0 #000;

  /* text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff; */
}

.shop-now-btn {
  margin-left: 100px;
  margin-top: 20px;
  font-family: 'GrapeDays' !important;
  padding: 10px 20px 10px 20px !important;
  font-weight: 700;
  color: #282c34 !important;
  background-color: white !important;
  border-color: #282c34 !important;
  border-width: thick;
  border-radius: 25px !important;
  font-size: 20px !important;
  letter-spacing: 0.8px;
  display: flex;
  align-items: center;
  padding: 10px;
}


.shop-now-btn:hover {
  background-color: pink !important;
  color: white !important;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 0.5px 1px 0 #000;

}

/* Displayed Products on Hom */

.display-products-heading {
  text-align: center !important;
  font-family: 'GrapeDays';
  padding-top: 60px;
  margin: 60px;
}

.display-products-heading h2 {
  font-size: 60px;
  color: #ffc0cb !important;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 2px 2px 0 #000;
}


.display-products {
  display: flex !important;
  align-items: center !important;
  justify-content: center;
  background-color: #fcf7f8;
  padding-top: 50px;
}

/* Shop All */

.shop-all {
  margin-top: 30px;
}

.btn-container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.shop-all-btn {
  position: absolute;
  font-family: 'GrapeDays' !important;
  padding: 20px 30px 20px 30px !important;
  font-weight: 700;
  color: #282c34 !important;
  background-color: white !important;
  border-color: #282c34 !important;
  border-width: thick;
  border-radius: 45px !important;
  font-size: 25px !important;
  letter-spacing: 0.8px;
  display: flex;
  align-items: center;
  margin-top: -10px;
}

.shop-all-btn:hover {
  background-color: pink !important;
  color: white !important;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 0.5px 1px 0 #000;
}

.line {
  position: relative;
  top: 62px;
  height: 5px;
  width: 100%;
  background-color: pink;
}

/* About */

.about {
  margin-top: 200px;
  /* display: flex;
  justify-content: center; */
  text-align: center;
}